@tailwind base;
@tailwind components;
@tailwind utilities; 

@molot {
    font-family: 'MOLOT';
    src: url('/resources/fonts/Molot.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Optional: for better font loading */
}